nav {
  font-family: "Bungee", sans-serif;
  display: flex;
  position: relative;
  width: 100%;
  top: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 120px;
  background-color: #af958a;
  padding: 1.5em;
  color: white;
  text-align: center;
}
#new-tweet-button:hover {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 10px 10px grey;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px white, 0 0 20px white,
    0 0 25px white, 0 0 30px white, 0 0 35px white;
}

nav p {
  margin: 0;
  font: normal;
  font-family: sans-serif;
}

@media only screen and (min-width: 1024px) {
  nav {
    display: flex;
    position: relative;
    background-color: #af958a;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    position: relative;
    background-color: #af958a;
    color: white;
  }
}
