nav {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 120px;
  background-color: #ffd3d1;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: #ffffff;
  padding: 1.5em;
}

nav p {
  margin: 0;
  font: normal;
  font-family: sans-serif;
}
