section.new-tweet > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
textarea.tweet-text {
  display: flex;
  background: transparent;
  border: none;
  border-bottom: solid black;
  outline: none;
  resize: none;
}
.new-tweet {
  width: 100%;
}
.tweet-button {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  padding: 1%;
  font-family: "Bungee", sans-serif;

  color: grey;
}

.black {
  color: black;
}

.red {
  color: red;
}

button.tweet-button {
  background-color: whitesmoke;
}

.error {
  display: flex;
  color: red;
  justify-content: center;
  border: solid 5px;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  visibility: hidden;
}
.error-show {
  display: flex;
  color: red;
  justify-content: center;
  border: solid 5px;
  width: 80%;
  margin: auto;
  border-radius: 15px;
}
